@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", sans-serif;
}
html,body{
    scroll-behavior: smooth;
    padding: 20px;
    background-color: rgb(54, 45, 45);
    color: whitesmoke;
}

.card{
    max-width: 250px;
    margin:10px;
    text-align: center;
    border: 1px solid hsl(0, 0%, 79%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%,0.1);
    padding: 20px;
    display: inline-block;
}

.card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card-title{
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card p{
    margin: 0;
    color: hsl(0, 0%, 30%);
}

.welcome-message{
    background-color: green;
    font-size: 2.5em;
    padding: 10px;
    color: whitesmoke;
}

.login-prompt {
    background-color: red;
    font-size: 2.5em;
    padding: 10px;
    color: whitesmoke;
}

.ColorDiv div:nth-child(1) {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ColorDiv div:nth-child(1) p{
    text-align: center;
    color: whitesmoke;
}

.DigitalContainer{
    min-height: 50vh;
    background-image: url(./assets/download.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DigitalContainer h1{
    color: black;
    backdrop-filter: blur(5px);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.726);
}